.history/

\[文档\]/

Quartus_Project/

Vivado_Project/

MODELSIM/

3_LEVEL_CPU/

AutoSim/__pycache__
AutoSim/out.vvp
AutoSim/generated/inst_data.txt
AutoSim/obj_dir
AutoSim/mem_init/irom.txt
AutoSim/mem_init/dram.txt

twin/

.settings/

.library_mapping.xml
.project