.history/
.settings/
.vscode/
.sigasi/

\[文档\]/

Vivado_Project/

AutoSim/src/__pycache__
AutoSim/mem_init/inst_test.txt
AutoSim/mem_init/software_test_irom.txt
AutoSim/mem_init/software_test_dram.txt
AutoSim/mem_init/MySystem_irom.txt
AutoSim/mem_init/MySystem_dram.txt
AutoSim/software_results.txt
AutoSim/vcd
AutoSim/Gen_MySystem.bat

project.sigasi

